/* .IntroMsg {
    margin: 20px;
    position: relative;
    width: 100%;
    left: 5%;
    top: -20%;
    text-align: center;
    padding: 10px;
    height: auto;
    opacity: 0.9;
    background-color: transparent;
    border-radius: 10px;

} */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;

}